@import url("https://fonts.googleapis.com/css?family=Alegreya&display=swap");

body {
  margin: 5%;
  font-family: "Alegreya", serif;
  background-color: #faaff0;
}

ol,
ul {
  padding-left: 3px;
  margin: 5px;
}
li {
  margin: 5px;
}

.board-row:after {
  clear: both;
  content: "";
  display: inline-block;
}

.status {
  margin-bottom: 10px;
  color: white;
}
.header {
  display: flex;
  justify-content: center;
}

.square {
  background: #fff;
  border: 1px solid #000;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 20vh;
  margin-right: -1px;
  margin-top: -1px;
  margin: 2px;
  text-align: center;
  width: 20vh;
}
.btn-link {
  color: black;
}

@media (max-width: 1000px) {
  .square {
    background: #fff;
    border: 1px solid #000;
    font-size: 24px;
    font-weight: bold;
    margin: auto;
    display: flex;
    margin: 2px;
    text-align: center;
    height: 10vh;
    width: 10vh;
  }
}
.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}

@media (max-width: 1000px) {
  .game {
    flex-direction: column;
    margin: 5%;
    justify-content: center;
  }
}

.game-info {
  color: white;
}
